body{
margin      :0;
font-family  : Roboto,Arial,sans-serif;
}
.signup{
margin-top   : 80px;
width        :350px;
height       : 460px;
border       :1px solid gray;
border-radius:5px;
background   :aliceblue;
box-shadow   : 0 12px 16px 0 rgba(0,0,0,0.24);
}
.signup input{
width        : 310px;
height       :30px;
margin-top   :7px;
border-radius:5px;
border       :1px solid gray;
}

.signupp{
width      : 220px;
height     : 31px;
font-size  :16px;
border     :none;
border-radius   :5px;
background-color: #0E6EDF;
color     :white;
margin-top:25px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease-in-out;
}

.signupp:hover,
.signupp:active {
background-color: #4D8AF0;
cursor          : pointer;
}

.sp{
text-decoration : none;
color           :#1877F2;
}

.form1{
margin-top        :90px;
width             :340px;
height            :390px;
box-shadow        : 0 12px 16px 0 rgba(0,0,0,0.24);
border            : 1px solid gray;
border-radius    : 9px;
background-color :white ;
}

#id_username{
margin-top :10px;
width  : 300px;
height : 30px;
border : 1px solid gray;
border-radius : 5px;
}

#id_password{
margin-top : 10px;
width  : 300px;
height : 30px;
border : 1px solid gray;
border-radius : 5px;
}

.fp {
text-decoration : none;
color     :black;
font-size : 19px;
}

.login{
width  : 200px;
height : 32px;
font-size :16px;
border :none;
border-radius :5px;
background-color: #0E6EDF;
color :white;
margin-top    :7px;
transition     : background-color 0.3s ease-in-out;
}
.login:hover,
.login:active {
background-color: #4D8AF0;
cursor          : pointer;
}

.bg1, .bg2{
background :linear-gradient(90deg, rgb(82, 67, 170), rgb(237, 80, 180));
margin     :0;
}

.navbar {
box-shadow      : 1px 1px 5px 0 rgb(53 50 50 / 24%);
background-color:  #3566b66e;;
overflow        : hidden;
width           :100%;
height          :70px;
}
#move-left{
margin-left:1130px;
}

.user a {
display: inline-block;
color :white;
padding : 9px 15px;
text-decoration: none;
}

.add{
margin-top :18px;
margin-left :11px;
border :none;
text-align:center;
border-radius :5px;
background-color: #3b71ca;
box-shadow: 0 4px 9px -4px #3b71ca;
}

.add:hover{
box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
background-color:#386bc0;
color :white;
border :1px solid white;
cursor: pointer;
}

.add:active{
background-color: #3566b6;
box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
}

li{
display :inline;
}

.user ul {
margin: 0;
padding: 0;
list-style: none;
display: inline-block;
}

.user li {
float: left;
}

.user p {
font-size :25px;
color: black;
display: inline-block;
margin: 0;
padding: 22px;
}

.main-task{
padding:5px;
width :600px;
height : 39px;
}


hr{
border-top: 1px solid lightgray;
}

.main{
margin-top: 50px;
box-shadow: 0 6px 6px 0 rgb(53 50 50 / 24%),0 -2px 2px 0 rgb(0 0 0 / 8%);
border-radius :9px;
background:white;
width :786px;
height :700px;
}

.main h1{
padding : 30px;
}

strike{
color :#0014ff9c;;
}

.option{
width: 45px;
border: none;
}

.option a{
text-decoration: none;
color : black;
}

.option a:hover{
color : #386bc0;
}

.formm{
margin-top :70px;
background-color: hsl(0deg 10% 95% / 11%);
box-shadow : 0 6px 6px 0 rgb(53 50 50 / 24%),0 -2px 2px 0 rgb(0 0 0 / 8%);
border :none;
width  : 400px;
height :540px;
border-radius:4px;
}

.cancel1{
font-family  :none;
margin-left  :350px;
text-decoration : none;
color    :black;
font-size:27px;
}


#id_title{
margin-top :30px;
width      : 270px;
border-radius:5px;
height :30px;
border :1px solid lightgray;
}

#id_description{
border-radius:5px;
border :1px solid lightgray;
}

.subutton{
width: 150px;
height: 33px;
background-color: #3b71ca;
box-shadow: 0 4px 9px -4px #3b71ca;
border: none;
border-radius: 5px;
text-align : center ;
color: white;
font-size : 17px;
}

.subutton:hover{
box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
background-color:#386bc0;
cursor: pointer;
}

.subutton:active{
background-color: #3566b6;
box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
}

.detail-mid{
font-size :20px;
margin-top :180px;
border : none;
border-radius : 5px;
width :700px;
height:220px;
background-color: hsl(0deg 10% 95% / 11%);
box-shadow : 0 6px 6px 0 rgb(53 50 50 / 24%),0 -2px 2px 0 rgb(0 0 0 / 8%);
}

.cancel2{
font-family:none;
margin-left  :670px;
text-decoration : none;
color :black;
font-size:30px;
}

.del-mid{
border :none;
border-radius : 5px;
width :770px;
height:220px;
margin-top : 200px;
background-color: hsl(0deg 10% 95% / 11%);
box-shadow : 0 6px 6px 0 rgb(53 50 50 / 24%),0 -2px 2px 0 rgb(0 0 0 / 8%);
}

.cancel{
margin-left  :720px;
display:block;
text-decoration :none;
color : black;
font-size:30px;
}









